Insiders/CachedExtensionVSIXs/ms-dotnettools.csharp-2.88.42-linux-x64 filter=lfs diff=lfs merge=lfs -text
Insiders/CachedExtensionVSIXs/redhat.java-1.45.2025080808-linux-x64 filter=lfs diff=lfs merge=lfs -text
Insiders/CachedExtensionVSIXs/ms-vscode.cpptools-1.26.3-linux-x64 filter=lfs diff=lfs merge=lfs -text
