@media (prefers-color-scheme: dark) {
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #fbf1c7 !important;
      --color-accent-primary: #83a598 !important;
      --color-accent-primary-hover: #8ec07c !important;
      --color-accent-primary-active: #1d2021 !important;
      background-color: #32302f !important;
      --in-content-page-background: #32302f !important;
    }
  }

  /* Styling the about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {
    :root {
      --newtab-background-color: #32302f !important;
      --newtab-background-color-secondary: #474747 !important;
      --newtab-element-hover-color: #474747 !important;
      --newtab-text-primary-color: #fbf1c7 !important;
      --newtab-wordmark-color: #fbf1c7 !important;
      --newtab-primary-action-background: #83a598 !important;
    }

    .icon {
      color: #83a598 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-nordic.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #83a598 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #83a598 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #b8bb26 !important;
    }
  }

  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #1d2021 !important;
      --in-content-text-color: #fbf1c7 !important;
      --link-color: #83a598 !important;
      --link-color-hover: #8ec07c !important;
      --zen-colors-primary: #474747 !important;
      --in-content-box-background: #474747 !important;
      --zen-primary-color: #83a598 !important;
    }

    groupbox,
    moz-card {
      background: #32302f !important;
    }

    button,
    groupbox menulist {
      background: #474747 !important;
      color: #fbf1c7 !important;
    }

    .main-content {
      background-color: #1d2021 !important;
    }
  }

  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #32302f !important;
      --social-color: #d3869b !important;
      --coockie-color: #8ec07c !important;
      --fingerprinter-color: #fabd2f !important;
      --cryptominer-color: #83a598 !important;
      --tracker-color: #b8bb26 !important;
      --in-content-primary-button-background-hover: #5a5a5a !important;
      --in-content-primary-button-text-color-hover: #fbf1c7 !important;
      --in-content-primary-button-background: #474747 !important;
      --in-content-primary-button-text-color: #fbf1c7 !important;
    }

    .card {
      background-color: #474747 !important;
    }
  }

  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #1d2021 !important;
      --background-color-box: #32302f !important;
    }
  }
}
